
 <h1>Eat The Burger</h1>
        <div>
        <div>
            <h3 >Add Burgers</h3>
            <div>
                <form class="create-update-form" action="/insertOne" method="POST">
                    <div class="form-group">
                        <textarea type="text" name="burger_name"></textarea><br>
                        <button class="btn btn-warning" type="submit" style="background-color:beige;">Add The Burger </button>
                    </div>
            </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6 burgers">
            <h3 ">Burgers! </h3>
            <br>
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <div class="showBurger">
                    <p>
                        {{this.burger_name}}</p>
                    <form action="/updateOne/{{this.id}}" method="POST">
                        <input type="hidden" name="devoured" value="1">
                        <button type="submit" class="btn" style="background-color:purple ;">Eat The Burger</button>
                    </form>
                    <br>
                </div>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div>
<h3>Burgers Eaten</h3>
  <br>
   <ul>
      {{#each burgers}}
     {{#if this.devoured}}
   <div class="devourBurger">
      <p>
      {{this.burger_name}}</p>
      <form action="/deleteOne/{{this.id}}" method="POST">
     <button type="submit" class="btn"
      style="background-color: purple ;">Delete The Burger </button>
      </form>
       {{/if}}
        {{/each}}
           </ul>
    </div>
 </div>
</div>
<hr>

</div>